*{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 100%;

}

.label {
  width: 100%;
  height: 80px;
  background-color: #418ec2;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 1.5em;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button {
  background-color: #3498db;
  color: #fff;

  width: 16.66%;
  width: 210px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

.movie-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.movie {
  width: calc(33.33% - 20px);
  margin: 10px;
  overflow: hidden;
}
.movie h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.movie img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.movie p {
  margin-top: 5px;
}


.movie-list::-webkit-scrollbar {
  width: 10px;
}

.movie-list::-webkit-scrollbar-thumb {
  background-color: #3498db;
}

.movie-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
